{
    "presets": [
        "@babel/preset-react",
        "@babel/typescript",
        [
            "@babel/preset-env", 
            { 
                "modules": false,
                "targets": {
                    "node":"10"
                } 
            }
        ]
    ]
}